.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 19px 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
}

.header--image {
    height: 100%;
}

.header--title {
    font-size: 1.25rem;
    letter-spacing: -10%;
    margin-left: 6px;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}